[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Node.js JavaScript runtime :sparkles::turtle::rocket::sparkles:
[access "refs/*"]
	owner = group user/Arun Dhwaj (ArunDhwaj)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Arun Dhwaj (ArunDhwaj)
	label-Verified = -1..+1 group user/Arun Dhwaj (ArunDhwaj)
	push = group user/Arun Dhwaj (ArunDhwaj)
	read = group user/Arun Dhwaj (ArunDhwaj)
	rebase = group user/Arun Dhwaj (ArunDhwaj)
	removeReviewer = group user/Arun Dhwaj (ArunDhwaj)
	submit = group user/Arun Dhwaj (ArunDhwaj)
[access "refs/heads/*"]
	create = group user/Arun Dhwaj (ArunDhwaj)
	push = +force group user/Arun Dhwaj (ArunDhwaj)
	pushMerge = group user/Arun Dhwaj (ArunDhwaj)
	read = group user/Arun Dhwaj (ArunDhwaj)
[access "refs/tags/*"]
	push = group user/Arun Dhwaj (ArunDhwaj)
	push = +force group user/Arun Dhwaj (ArunDhwaj)
